body ,ul, li, p{
    margin: 0;
    padding: 0;
   
}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; }

.clearfix { *zoom:1; }
#header-nav {
    height: 48px;
    box-shadow:0 0 1px 0 rgba(0, 0, 0, 0.3),
    0 0 6px 2px rgba(0, 0, 0, 0.15);
  position:fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  
}
.header-main {
    height: 48px;
    width: 1280px;
    margin: 0 auto;
}
.header-left {
    float: left;
}
.header-right ul {
    float:right;
}
.header-right ul li {
    float: left;
    list-style: none;
}
.logo {
    height: 50px;
    width: 150px;
    float: left;
}
.logo-bg {
   display: inline-block;
   width: 100px;
   height: 50px;
    background: url("../images/index/WB_logo.png") no-repeat;
}
.search {
    display: inline-block;
  
}

#content-main {
    margin-top: 48px;
    z-index:-1;
    position:absolute
}